click==8.1.7
-e git+ssh://git@github.com/k0dik3v/exifedit.git@fc643098a205fb0c07e86c346392bead84808f2b#egg=edit_exif
iniconfig==2.0.0
packaging==24.1
pillow==10.3.0
pluggy==1.5.0
plum-py==0.8.7
pytest==8.2.2
setuptools==70.1.0
wheel==0.43.0
